<footer>
  <div class="f-o">
    <p id="time" class="time">Copyright © 2021-2024 WraithsDev</p>
    <p class="develpoer">Developed with <i class="fa-regular fa-star"></i>
      by WraithsDev</p>
  </div>
</footer>