<section class="about">
    <div class="about-content">
        <div class="profile">
            <img src="https://media.discordapp.net/attachments/1229334531560181810/1250059926231973938/channels4_profile.jpg?ex=666ed687&is=666d8507&hm=624cebd65cd5eaa964094c84a229f7cbb95ca092ddda685adf1350995fa55629&=&format=webp&width=663&height=663" alt="Profile Picture">
            <div class="profile-info">
                <h2>Ben kimim?</h2>
                <p>Merhaba! Ben Enes, yazılım dünyasına 2019'dan beri adım atmış bir lise öğrencisiyim. Kod yazmayı öğrenmeye başladığım günden beri yazılım dünyasının büyüsüne kapılmış durumdayım.</p>
            </div>
        </div>
        <div class="interests">
            <h3>Yazılıma bakış açım</h3>
            <p>Özellikle web geliştirme ve uygulama geliştirme alanlarında kendimi geliştirmeye odaklanıyorum. Yazılım dünyası benim için sadece bir iş değil, aynı zamanda büyük bir tutku ve merak kaynağı.</p>
        </div>
        <div class="discord-bots">
            <h3>Discord botları</h3>
            <p>Aynı zamanda Discord botları dünyasına duyduğum ilgi, beni bu alanda da başarılı projelere yönlendirdi. Discord topluluklarına katılarak ve kendi bot projelerimi geliştirerek bu alandaki bilgi ve deneyimimi arttırmaktan keyif alıyorum.</p>
        </div>
        <div class="portfolio-contact">
            <h3>Portföy ve iletişim</h3>
            <p>Bu portföy sitesinde, yaptığım projeleri inceleyerek ve yazılım becerilerim hakkında daha fazla bilgi edinerek beni daha iyi tanıyabilirsiniz. Herhangi bir sorunuz varsa veya işbirliği yapmak istiyorsanız, lütfen bana ulaşın. Sizinle projelerinizi hayata geçirmek için sabırsızlanıyorum!</p>
        </div>
    </div>
</section>
