<div class="proje">
    <div class="kutu">
        <div class="img-kt">
            <img class="kutu-img"
                src="https://images-ext-1.discordapp.net/external/iwQ-6f1PrF2_1U013C92ucbtU1ssdIZtq0nQPJmOba0/https/cdn.discordapp.com/icons/1099662497973284926/8fbbe9247d361cab23dc1b4ccd2bcc43.png?format=webp&quality=lossless&width=153&height=153"
                alt="">
        </div>
        <div class="">
            <p class="kutu-bs">🚀 Dark Uptime</p>
            <p class="kutu-ac">A system where you can keep your Discord Bots active 24/7
            </p>
        </div>
        <div class="url-text">
            <a href="https://discord.gg/YaPKBPswMg" target="_blank"><i class="fa-solid fa-link-simple"></i> https://discord.gg/YaPKBPswMg</a>
        </div>
    </div>
</div>
