    <section class="sponsors">
        <h1>Sponsorlar</h1>
        <p>Sponsorlarımız hakkında biraz bilgi</p>
        <div class="sponsor-list">
            <div class="sponsor">
                <img src="https://i.hizliresim.com/bxe90s9.png" alt="Sponsor 1">
                <h3>oksitweb</h3>
                <p>Oksitweb Hosting Hizmeti</p>
            </div>
            <div class="sponsor">
                <img src="https://porsukcraft.net/apps/main/public/assets/img/uploads/2fef4ba85893bea904c9c318454f7bf8.png?cache=1718201676" alt="Sponsor 2">
                <h3>Porsuk MC</h3>
                <p>Porsuk Mc Minecraft sunucusu</p>
            </div>
        </div>
    </section>