<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/dark.css">
</head>

<body>
  <center>
    <nav>
      <div class="navpp">
        <div class="pp-logo">
          <img class="logo" id="openModal" src="https://media.discordapp.net/attachments/1229334531560181810/1250059926231973938/channels4_profile.jpg?ex=666ed687&is=666d8507&hm=624cebd65cd5eaa964094c84a229f7cbb95ca092ddda685adf1350995fa55629&=&format=webp&width=663&height=663" alt="">
        </div>
        <div class="textver">
          <div class="pptext">
            WraithsDev
          </div>
        </div>
      </div>
      <div class="btn-div pc">
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/projects">Projects</a>
        <a class="btn" href="/hakkimda">Hakkımda</a>
        <a class="btn" href="/sponsorlar">Sponsorlar</a>
      </div>
      <div class="btn-div mobile" id="mobile">
        <a class="btn" href="/"><i class="fa-regular fa-house"></i></a>
        <a class="btn" href="/projects"><i class="fa-regular fa-diagram-project"></i></a>
        <a class="btn" href="/hakkimda"><i class="fa-regular fa-info-circle"></i></a>
        <a class="btn" href="/sponsorlar"><i class="fa-regular fa-handshake"></i></a>
      </div>
      <div class="social-dv">
        <a class="soc-btn" href="https://github.com/WraithsDev"><i class="fa-brands fa-github"></i></a>
        <a class="soc-btn" href="https://discord.com/users/843136836947410945"><i class="fa-brands fa-discord"></i></a>
        <a class="soc-btn" href="https://www.youtube.com/channel/UCFPlBYRTVvc7Q_E3ztqRdaQ"><i class="fa-brands fa-youtube"></i></a>

      </div>
    </nav>
  </center>
</body>
<script src="js/scroll.js"></script>
<script src="js/dark.js"></script>

</html>
